@model DepartmentViewModel
@{
	ViewData["Title"] = "Department Details";
}
<h1>"@Model.Name" Department Details </h1>

<partial name="PartialViews/DetailsDeleteFormPartialView" />

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Edit</a> |

<a asp-action="Index" class="btn btn-light">Back To List</a>
