@model EmployeeViewModel

@{
	ViewData["Title"] = "Create";
}

<h2>Add Employee</h2>

<form asp-action="Create" method="post">

	<partial name="PartialViews/CreateEditFormPartialView" />

	<button type="submit" class="btn btn-primary mt-4">Add Employee</button>
	<a asp-action="Index" class="btn btn-secondary mt-4">Back To List</a>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}

<style>
	.checkbox-container {
		display: flex;
		align-items: center;
		margin-bottom: 15px;
	}

	.custom-checkbox {
		width: 20px;
		height: 20px;
		margin-right: 10px;
	}

	.custom-label {
		font-size: 1.2rem;
	}
</style>
