@model EmployeeViewModel

@{
	ViewData["Title"] = "Delete";
}

<div asp-validation-summary="All"></div>

<form asp-action="Delete" method="post">

	<div class="form-group">
		<label asp-for="Name"></label>
		<input readonly asp-for="Name" class="form-control" />
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Age"></label>
		<input readonly asp-for="Age" class="form-control" />
		<span asp-validation-for="Age" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Address"></label>
		<input readonly asp-for="Address" class="form-control" />
		<span asp-validation-for="Address" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Salary"></label>
		<input readonly asp-for="Salary" class="form-control" />
		<span asp-validation-for="Salary" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Email"></label>
		<input readonly asp-for="Email" class="form-control" />
		<span asp-validation-for="Email" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="PhoneNumber"></label>
		<input readonly asp-for="PhoneNumber" class="form-control" />
		<span asp-validation-for="PhoneNumber" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="HireDate"></label>
		<input readonly asp-for="HireDate" class="form-control" />
		<span asp-validation-for="HireDate" class="text-danger"></span>
	</div>
	<div class="form-group checkbox-container">
		<label asp-for="IsActive" class="custom-label mt-3 me-2"></label>
		<input readonly asp-for="IsActive" class="custom-checkbox mt-3" type="checkbox" disabled />
	</div>

	<button type="submit" class="btn btn-danger mt-4">Delete</button>
	<a asp-action="Index" class="btn btn-secondary mt-4">Back To List</a>

</form>
